# Lista de Dados

In [6]:
lista_1 = [1, 6, 10, 20]
lista_2 = [4.5, 3.1, 5.0]
lista_3 = ['nota1', 'nota2']
lista_4 = [True, False, False]
lista_5 = [1, 'nota1', 2.5, False]
lista_6 = [5, 3, [5, 2, 1]]

In [8]:
lista_6 = [5, 3, [5, 2, 1]]
print(lista_6[2])

[5, 2, 1]

In [10]:
print(lista_6[2][1])

2

In [3]:
lista_1 = [1, 6, 10, 20]
lista_2 = [4.5, 3.1, 5.0]
lista_juncao = lista_1 + lista_2
print(lista_juncao)

[1, 6, 10, 20, 4.5, 3.1, 5.0]

In [7]:
#Tamanho da lista - função Len()

lista_1 = [1, 6, 10, 20]
print(len(lista_1))

4

In [11]:
#Maior elemento da lista - função max
print(max(lista_1))

20

In [12]:
#Menor elemento da lista - função min
print(min(lista_1))

1

In [13]:
#Somar todos os elemento da lista - função sum()
print(sum(lista_1))

37

In [14]:
#Inserindo um nov elemento em uma possição especifica - função insert()
lista_1 = [1, 6, 10, 20]
lista_1.insert(2, 50)
print(lista_1)

[1, 6, 50, 10, 20]

In [20]:
#Retornando a posição de um elemento - index()

lista_1 = [1, 6, 10, 20]
print(lista_1.index(10))

2

In [18]:
#Invertendo a ordem dos elementos da lista - reverse()

lista_1 = [1, 6, 10, 20]
lista_1.reverse()
print(lista_1)

[20, 10, 6, 1]

In [19]:
#Ordenar a ordem da lista - função sort()

lista_1 = [11, 6, 2, 20]
lista_1.sort()
print(lista_1)

[2, 6, 11, 20]

## Tuplas

- Estrutura semelhante a listas, mas não pode ser alterada (imutável)
- Utiliza parênteses para definir e colchetes

In [22]:
tupla_1 = ('Domingo', 'Segunda', 'Terça', 'Quarta')
print(tupla_1[0])

Domingo

In [24]:
#Não é possível alterar qualquer valor da tupla, dispara um erro

tupla_1[1] = 'Quarta'

TypeError: 'tuple' object does not support item assignment

In [26]:
#Convertendo uma tupla em lista - função list()

tupla_1 = ('Domingo', 'Segunda', 'Terça', 'Quarta')
lista_resultado = list(tupla_1)
print(lista_resultado)

['Domingo', 'Segunda', 'Terça', 'Quarta']

## Dicionario de Dados

- Estrutura de Dados composta por chaves e valores
- utiliza chaves {} para a criação