# Função de Agrupamento

In [17]:
import pandas as pd

In [19]:
vendas = {
    'Loja': ['L1','L2','L1','L3','L2','L1'],
    'Cliente': ['Raniere','Ed','Pedro','Raniere','Raniere','Matheus'],
    'valor': [500.00,150.00,140.00,233.00,30.00,150.00]
}
dataframe_vendas = pd.DataFrame(vendas)
dataframe_vendas

  Loja  Cliente  valor
0   L1  Raniere  500.0
1   L2       Ed  150.0
2   L1    Pedro  140.0
3   L3  Raniere  233.0
4   L2  Raniere   30.0
5   L1  Matheus  150.0

## Função groupby

In [24]:
# Quantas vendas por Loja foram feitas?

dataframe_vendas.groupby('Loja')['Loja'].count()

Loja
L1    3
L2    2
L3    1
Name: Loja, dtype: int64

In [39]:
# Quantas vendas foram realizadas pela loja L1?

dataframe_vendas[dataframe_vendas.Loja == 'L1'].groupby('Loja')['Loja'].count()

Loja
L1    3
Name: Loja, dtype: int64

In [38]:
# Quantas compras foram realizadas por cada cliente?

dataframe_vendas.groupby('Cliente')['Cliente'].count()

Cliente
Ed         1
Matheus    1
Pedro      1
Raniere    3
Name: Cliente, dtype: int64

In [43]:
# Por loja, quais clientes e quantas compras cada um realizou?

dataframe_vendas.groupby(['Loja', 'Cliente'])['Cliente'].count()

Loja  Cliente
L1    Matheus    1
      Pedro      1
      Raniere    1
L2    Ed         1
      Raniere    1
L3    Raniere    1
Name: Cliente, dtype: int64

In [46]:
# Qual o valor de todas as vendas por lojas?

dataframe_vendas.groupby('Loja')['valor'].sum()

Loja
L1    790.0
L2    180.0
L3    233.0
Name: valor, dtype: float64

In [48]:
'''
Usando o exemplo anterior, ordenar da loja
que mais vendeu para a que menos vendeu.
'''

dataframe_vendas.groupby('Loja')['valor'].sum().sort_values(ascending=False)

Loja
L1    790.0
L3    233.0
L2    180.0
Name: valor, dtype: float64

In [56]:
'''
Usando o exemplo, exibir apenas as 2 lojas que mais venderam.
'''

dataframe_vendas.groupby('Loja')['valor'].sum().sort_values(ascending=False).head(2)

Loja
L1    790.0
L3    233.0
Name: valor, dtype: float64

In [59]:
# Qual o valor total gasto nas compras por clientes?

dataframe_vendas.groupby('Cliente')['valor'].sum()

Cliente
Ed         150.0
Matheus    150.0
Pedro      140.0
Raniere    763.0
Name: valor, dtype: float64

In [61]:
# ordenando do que menos comprou para o que mais comprou.

dataframe_vendas.groupby('Cliente')['valor'].sum().sort_values(ascending=True)

Cliente
Pedro      140.0
Ed         150.0
Matheus    150.0
Raniere    763.0
Name: valor, dtype: float64

In [72]:
# Exibir a média do valor gasto por cada cliente

dataframe_vendas.groupby('Cliente')['valor'].mean()

Cliente
Ed         150.000000
Matheus    150.000000
Pedro      140.000000
Raniere    254.333333
Name: valor, dtype: float64